<div class="link-wrapper">
    <style scoped>
      ul.link a {
        color:var(--clr-h1-and-bold);
        text-decoration:none;
      }

      ul.link a:hover, a:focus {
        color: var(--clr-a-text-hvr);
      }
    </style>
    <ul class="link">
      <li><a href="https://github.com/Dotrar"><i class="fab fa-github"></i> GitHub</a></li>
      <!-- <li><a href="https://twitter.com/DWestcook"><i class="fab fa-twitter"></i> Twitter</a></li> -->
      <li><a href="https://dotrar.github.io"><i class="fas fa-feather-alt"></i> Blog</a></li>
      <!-- <li><a href="https://github.com/Dotrar/dotrar.github.io"><i class="far fa-bookmark"></i> Project Repository</a></li> -->
    </ul>
  </div>
