<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="preload" href="{{ "/assets/img/logo.jpg?v=" | append: site.github.build_revision | relative_url }}" as="image">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <div class="sidebar">
        <header>
          <img class="img-circle" rel="prefetch" src="{{ "/assets/img/logo.jpg?v=" | append: site.github.build_revision | relative_url }}">
          <hr>
          <h3>{{page.title}}</h3>
          <a href="{{site.url}}">Return Home</a>
          <hr>
          {% include toc.html html=content %}
        </header>

        {% include links-mobile.html %}

        <div class="sidebar-footer">
          {%- include footer.html -%}
        </div>
      </div>
      <section>
          <h1>{{ page.title }}</h1>
          {% if page.tags %}
            <div class="tags-container">
              Tags: 
              {% for tag in page.tags %}
              <a href="{{ site.url }}/tags/#{{tag | cgi_escape}}" class="post-tag">{{tag}}</a>{% unless forloop.last %}, {% endunless %}
              {% endfor %}
            </div>
          {% endif %}
          <hr>
          {{ content }}
      </section>
      {% if page.comments %}
      {% include disqus.html %}
      {% endif %}
      <footer>
        {%- include footer.html -%}
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
